# load parent envrc if it exists
[ -f "../.envrc" ] && source ../.envrc

export PROJECT=$(pwd | sed 's/.*\///')

# entertain eyes for a second until conda loads if figlet is installed
if command -v figlet >/dev/null 2>&1; then
    echo $PROJECT | awk '{for(i=1;i<=NF;i++) $i=toupper(substr($i,1,1)) tolower(substr($i,2))}1' | figlet -c -w 100   | lolcat
fi

# zigchain
export CHAIN_ID="zigchain"
export TESTNET_NAME="zigchain" # update later
export FEE_DENOM="uzig"
export STAKE_DENOM="uzig"
export CONFIG_DIR=".zigchaind"
export BINARY="zigchaind"

export RPC="http://0.0.0.0:26657"
export API="http://0.0.0.0:1317"
export FAUCET="http://0.0.0.0:4500"

export NODE=(--node "$RPC")
export TX_FLAGS_NO_GAS_ADJ=("${NODE[@]}" --chain-id "$CHAIN_ID" --gas-prices 0.25uzig --gas auto)
export TX_FLAGS="${NODE[@]} --chain-id $CHAIN_ID --gas-prices 0.25uzig --gas auto --gas-adjustment 1.3"

export zig="uzig"
export ZIG="000000uzig"
